###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*       text=auto
*.txt   text
*.cpp   text eol=lf
*.hpp   text eol=lf
*.h     text eol=lf
*.c     text eol=lf
*.sh    text eol=lf
*.py    text eol=lf


###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary